earthengine_api==0.1.347
ee==0.4
Flask==2.2.3
folium==0.14.0
ipython==8.12.0
keras==2.12.0
matplotlib==3.7.1
numpy==1.23.5
opencv_python==4.7.0.72
patchify==0.2.3
Pillow==9.5.0
protobuf==4.22.1
selenium==4.8.3
skimage==0.0
xarray==2023.3.0
